---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import NavButton from '../components/NavButton.astro';

const response = await fetch("http://localhost:4321/api/users");
const users = await response.json();
---


<Layout>
	<Header />

	<div class="max-w-sm mx-auto mt-6">
		<h1 class="text-base text-center mb-3 font-medium text-gray-900">Usuarios</h1>

		<div class="px-2 mb-2">
			<NavButton href="/create" text="Crear nuevo usuario" />
		</div>
	</div>

	<div class="max-w-6xl mx-auto mt-6">
		<div class="p-2">
			<ul class="divide-y divide-gray-200 text-sm">
				{users.map(user => (
					<li class="py-2 flex items-center justify-between">
						<span class="text-gray-800">{user.name}</span>
						<!-- Asigna Acciones -->
						<div>
							<form action={`/api/users/${user.id}`} method="post" onsubmit="return confirm('¿Estás seguro de eliminar este usuario?')">
								<button type="submit" class="text-red-700 hover:underline">Eliminar</button>
							</form>

						</div>
					</li>
				))}
			</ul>

			<div class="mt-2 text-xs text-gray-600 text-center">Total: {users.length}</div>
		</div>
	</div>

	<footer class="max-w-sm mx-auto mt-4 text-center text-xs text-gray-600 pb-4">
		<div>© {new Date().getFullYear()} Department of Public Services</div>
		<div class="mt-1">For official use — Public access</div>
	</footer>
</Layout>