---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const response = await fetch("http://localhost:4321/api/users");
const users = await response.json();
---

<Layout>
	<h1>Usuarios</h1>

	<ul>
		{users.map(user => (
			<li>{user.name}</li>
		))}
	</ul>
</Layout>